* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.titulo{
    text-align: center;
}

.subtitulo{
    text-align: center;
}

.Chismesynoticiasdivinas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
 
.Mito-card a {
    margin: 1rem;
    padding: 0.3rem 1rem ;
    font-size: 1rem;
    background-color: #333;
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none;
    display: inline-block;
}



@media screen and (min-width: 1024px) {
    .Chismesynoticiasdivinas-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.Mito-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.1);
}

.Mito-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Mito-card h3 {
    padding: 1rem;
    color: #333; 
}

.Mito-card button {
    margin: 1rem;
    padding: 0.5rem 1rem ;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.Mito-card button:hover {
    background-color: #222222;
}


@media screen and (max-width:430px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-links{
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        gap:1rem;
    }
}
